<div class="edit-resource">
  <div class="edit-resource-form-container">
    <h2 class="title is-4">Edit card</h2>

    <%= form_with(model: @card, url: card_path(@card)) do |f| %>
      <div class="field">
        <%= f.label :english %>
        <%= f.text_field :english, autocomplete: 'off', class: "input" %>
      </div>

      <div class="field">
        <%= f.label :kana %>
        <%= f.text_field :kana, autocomplete: 'off', class: "input" %>
      </div>

      <% if @card.audio_sample.attached? %>
        <div class="current-audio-sample">
          <p>Current audio sample</p>
          <div class="audio-container">
            <audio controls>
              <source src="<%= url_for(@card.audio_sample) %>" type="audio/mpeg">
              Your browser does not support the audio tag.
            </audio>
            <%= link_to(delete_audio_sample_card_path(@card), class: "has-text-link delete-audio-sample-button", data: { confirm: "Are you sure you want to delete this audio sample? This action is permanent and cannot be undone." }, method: :delete, remote: true ) do %>
              <span class="icon is-small">
                <i class="fas fa-trash"></i>
              </span>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="field audio-sample-upload">
        <div class="file is-small">
          <label class="file-label">
            <%= f.file_field :audio_sample, class: "file-input" %>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">Upload a new audio sample...</span>
            </span>
          </label>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "button is-info" %>
        <%= link_to "Back", :back, class: "button is-info is-outlined" %>
      </div>
    <% end %>
  </div>

  <div class="decks-list">
    <h2 class="title is-4">Manage card decks</h2>
    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr>
          <th class="included-in-deck-column">Included</th>
          <th>Name</th>
          <th class="edit-column">Edit</th>
          <th class="edit-column">Delete</th>
        </tr>
      </thead>
      <tbody>
        <%= render(partial: 'decks/addable_deck', collection: @decks, as: :deck, locals: { card: @card }) %>
      </tbody>
    </table>
  </div>
</div>
