<div class="new-resource">
  <div class="new-resource-form-container">
    <h2 class="title is-4">New card</h2>

    <%= form_with(model: @card, url: cards_path) do |f| %>
      <div class="field">
        <%= f.label :english %>
        <%= f.text_field :english, autocomplete: 'off', class: "input" %>
      </div>

      <div class="field">
        <%= f.label :kana %>
        <%= f.text_field :kana, autocomplete: 'off', class: "input" %>
      </div>

      <div class="field">
        <%= f.label :kanji %>
        <%= f.text_field :kanji, autocomplete: 'off', class: "input" %>
      </div>

      <div class="field audio-sample-upload">
        <div class="file is-small">
          <label class="file-label">
            <%= f.file_field :audio_sample, class: "file-input" %>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">Upload audio sample...</span>
            </span>
          </label>
        </div>
      </div>

      <div class="field">
        <%= f.label "Create in deck" %><br/>
        <div class="select is-small">
          <%= f.select :deck_id, options_from_collection_for_select(@decks, "id", "name"), prompt: "Choose deck..." %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Create", class: "button is-info" %>
        <%= link_to "Back", :back, class: "button is-info is-outlined" %>
      </div>
    <% end %>
  </div>
</div>
