<tr class="deck-id-<%= deck.id %>" data-controller="card-deck">
  <td><%= link_to(deck.name, deck_path(deck), class: "has-text-link") %></td>
  <td class="edit-deck-cell">
    <%= deck.card_decks.size %>
  </td>
  <td class="edit-deck-cell">
    <%= link_to(edit_deck_path(deck), class: "has-text-link") do %>
      <span class="icon is-small">
        <i class="fas fa-edit"></i>
      </span>
    <% end %>
  </td>
  <td class="edit-deck-cell">
    <%= link_to(deck_path(deck), class: "has-text-link", data: { confirm: "Are you sure you want to delete this deck? This action is permanent and cannot be undone." }, method: :delete, remote: true ) do %>
      <span class="icon is-small">
        <i class="fas fa-trash"></i>
      </span>
    <% end %>
  </td>
</tr>
