<div class="edit-resource">
  <div class="edit-resource-form-container">
    <h2 class="title is-4">Edit deck</h2>

    <%= form_with(model: @deck, url: deck_path(@deck)) do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autocomplete: 'off', class: "input" %>
      </div>

      <div class="field">
        <%= f.label "Front of card shows" %><br/>
        <%= f.select :start_with, options_for_select(@start_with_options, @deck.start_with) %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "button is-info" %>
        <%= link_to "Back", deck_path(@deck), class: "button is-info is-outlined" %>
      </div>
    <% end %>
  </div>

  <div class="cards-list">
    <h2 class="title is-4">Re-order cards in deck</h2>
    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr>
          <th>English</th>
          <th class="edit-column">Edit</th>
          <th class="edit-column">Delete</th>
        </tr>
      </thead>
      <tbody data-controller="sortable" data-sortable-url="/card_decks/move">
        <%= render(partial: 'cards/sortable_card', collection: @deck.cards, as: :card, locals: { deck: @deck }, cached: true) %>
      </tbody>
    </table>
  </div>
</div>
