<div class="edit-resource">
  <div class="edit-resource-form-container">
    <h2 class="title is-4">Edit deck</h2>

    <%= form_with(model: @deck, url: deck_path(@deck), class: "edit-deck-form", local: true) do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autocomplete: 'off', class: "input" %>
      </div>

      <div class="field">
        <%= f.label "Front of card shows" %><br/>
        <div class="select is-small">
          <%= f.select :start_with, options_for_select(@start_with_options, @deck.start_with) %>
        </div>
      </div>

      <div class="field">
        <label class="checkbox">
          <%= f.check_box :is_randomized, class: "randomized-checkbox" %>
          Shuffle after each complete review
        </label>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "button is-info" %>
        <%= link_to "Back", :back, class: "button is-info is-outlined" %>
      </div>
    <% end %>
  </div>

  <div class="more-deck-actions">
    <h2 class="title is-4">Manage cards</h2>
    <p class="has-text-grey-light current-card-count">
      (<%= @deck.card_decks.size %> cards currently in this deck)
    </p>
    <%= form_tag(take_cards_deck_path(@deck), method: :patch, class: "next-card-form") do %>
      <div class="field">
        <label>Number of cards</label>
        <input name="number_of_cards" type="text" class="input" autocomplete="off" />
      </div>
      <div class="select is-small">
        <%= select_tag :take_from_deck_id, options_from_collection_for_select(@availible_decks, "id", "name"), prompt: "Take from deck..." %>
      </div>
      <div class="select is-small">
        <%= select_tag :move_to_deck_id, options_from_collection_for_select(@availible_decks, "id", "name"), prompt: "Move to deck..." %>
      </div>
      <div class="select is-small">
        <%= select_tag :maximum_difficulty, options_for_select(Card::DIFFICULTIES), prompt: "Max difficulty..." %>
      </div>
      <div class="select is-small">
        <%= select_tag :minimum_difficulty, options_for_select(Card::DIFFICULTIES), prompt: "Min difficulty..." %>
      </div>

      <br/><br/>
      <%= submit_tag "Move cards", data: { confirm: "Are you sure you want move cards between decks? This action is permanent and cannot be undone." }, class: "button is-info" %>
      <%= link_to("Sort cards", sort_cards_deck_path(@deck), class: "button is-info is-outlined sort-cards-button") %>
    <% end %>
  </div>
</div>
