<div class="deck-show-container" data-controller="deck" data-deck-update-url="<%= deck_path(@deck) %>">
  <h1 class="title deck-name"><%= @deck.name %></h1>

  <div class="actions">
    <%= form_tag(shuffle_deck_path(@deck), method: :patch, class: "shuffle-deck-form") do %>
      <div class="actions">
        <%= submit_tag "Shuffle", data: { confirm: "Are you sure you want to shuffle this deck? This action is permanent and cannot be undone." }, class: "button is-info is-outlined" %>
      </div>
    <% end %>
    <%= link_to("Edit deck", edit_deck_path(@deck), class: "button is-info is-outlined") %>
  </div>

  <br/>
  <h2 class="specify-difficulty">Max difficulty</h2>
  <div class="difficulty-options">
    <% Card::DIFFICULTIES.each do |difficulty| %>
      <% if difficulty == @deck.maximum_difficulty %>
        <button class="button is-success" data-action="click->deck#selectDifficulty"><%= difficulty %></button>
      <% else %>
        <button class="button is-white" data-action="click->deck#selectDifficulty"><%= difficulty %></button>
      <% end %>
    <% end %>
  </div>

  <br/>
  <%= link_to("Study now", study_deck_path(@deck), class: "button is-info", data: { target: "deck.studyNowButton" } ) %>
</div>

<form name="ignore_me">
    <input type="hidden" id="page_is_dirty" name="page_is_dirty" value="0" />
</form>

<script>
  var dirty_bit = document.getElementById('page_is_dirty');
  if (dirty_bit.value == '1') {
    window.location.reload();
  }
  dirty_bit.value = '1';
</script>
