<div class="deck-show-container">
  <h1 class="title deck-name"><%= @deck.name %></h1>

  <% if @current_card %>
    <div class="card-interaction-container" data-controller="card" data-card-start-with="<%= @deck.start_with %>">
      <div class="next-card"></div>
      <div class="deck-show-card">
        <div class="english-text" data-target="card.englishText">
          <%= @current_card.english %>
        </div>
        <div class="kana-text" data-target="card.kanaText">
          <%= @current_card.kana %>
        </div>
        <div class="audio-sample" data-target="card.audioSample">
          <% if @current_card.audio_sample.attached? %>
            <audio controls>
              <source src="<%= url_for(@current_card.audio_sample) %>" type="audio/mpeg">
              Your browser does not support the audio tag.
            </audio>
          <% end %>
        </div>
        <div class="loader-wrapper" data-target="card.loader">
            <div class="loader is-loading"></div>
        </div>
      </div>
      <div class="deck-controls">
        <%= form_tag(previous_card_in_deck_path(@deck.id), method: :patch, class: "previous-card-form", remote: true) do %>
          <%= button_tag type: 'submit', class: "button is-info", data: { action: "click->card#prepareForNextCard" } do %>
            <span class="icon">
              <i class="fas fa-2x fa-caret-left"></i>
            </span>
          <% end %>
        <% end %>

        <button class="button is-info flip-card-button" data-action="click->card#flip">
          Flip card
        </button>

        <%= form_tag(next_card_in_deck_path(@deck.id), method: :patch, class: "next-card-form", remote: true) do %>
          <%= button_tag type: 'submit', class: "button is-info", data: { action: "click->card#prepareForNextCard" } do %>
            <span class="icon">
              <i class="fas fa-2x fa-caret-right"></i>
            </span>
          <% end %>
        <% end %>
      </div>
      <div class="move-card-controls">
        <%= form_tag(move_decks_card_path(@current_card.id), method: :patch, class: "move-decks-form", remote: true) do %>
          <%= submit_tag "Move card", class: "button is-danger is-outlined is-small", data: { action: "click->card#prepareForNextCard" } %>
          <%= hidden_field_tag :old_deck_id, @deck.id %>

          <div class="select is-small">
            <%= select_tag :new_deck_id, options_from_collection_for_select(@moveable_decks, "id", "name"), prompt: "Choose new deck...", class: "new-deck-select" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
