<div class="deck-study-container">
  <% if @current_card %>
    <div class="card-interaction-container" data-controller="card study" data-study-start-with="<%= @deck.start_with %>" data-study-card-update-url="<%= card_path(@current_card) %>">
      <div class="deck-card">
        <div class="flip-card-button-container">
          <span class="flip-card-button has-text-grey-lighter" data-action="click->study#flipCard">
            <small>Flip card</small>
          </span>
        </div>
        <span class="deck-progress has-text-grey-lighter"><small><%= @progress %></small></span>
        <span class="icon is-small has-text-grey-lighter card-options-button" data-action="click->study#toggleCardOptions">
          <i class="fas fa-ellipsis-h"></i>
        </span>

        <div class="english-text" data-target="study.englishText"><%= @current_card.english %></div>
        <div class="kana-text" data-target="study.kanaText"><%= @current_card.kana %></div>
        <div class="kanji-text" data-target="study.kanjiText"><%= @current_card.kanji %></div>
        <div class="audio-sample" data-target="study.audioSample">
          <% if @current_card.audio_sample.attached? %>
            <%= render(template: 'decks/_play_audio_sample_button', locals: { current_card: @current_card }) %>
          <% end %>
        </div>

        <div class="loader-wrapper" data-target="study.loader">
          <div class="loader is-loading"></div>
        </div>

        <%= form_tag(previous_card_in_deck_path(@deck.id), method: :patch, class: "previous-card-form", remote: true) do %>
          <%= button_tag type: 'submit', class: "button is-white", data: { action: "click->study#prepareForNextCard" } do %>
            <span class="icon has-text-grey-lighter">
              <i class="fas fa-2x fa-caret-left"></i>
            </span>
          <% end %>
        <% end %>

        <%= form_tag(next_card_in_deck_path(@deck.id), method: :patch, class: "next-card-form", remote: true) do %>
          <%= button_tag type: 'submit', class: "button is-white", data: { action: "click->study#prepareForNextCard" } do %>
            <span class="icon has-text-grey-lighter">
              <i class="fas fa-2x fa-caret-right"></i>
            </span>
          <% end %>
        <% end %>

        <div class="card-options" data-target="study.cardOptions">
          <div class="card-difficulty-label has-text-grey">Rate card difficulty:</div>
          <button class="button is-light" data-action="click->study#setCardDifficulty">1</button>
          <button class="button is-light" data-action="click->study#setCardDifficulty">2</button>
          <button class="button is-light" data-action="click->study#setCardDifficulty">3</button>
          <button class="button is-light" data-action="click->study#setCardDifficulty">4</button>
          <button class="button is-light" data-action="click->study#setCardDifficulty">5</button>
        </div>

        <%= link_to(edit_card_path(@current_card), class: "has-text-grey-lighter card-edit-button", data: { target: "study.editCard" } ) do %>
          <span class="icon is-small">
            <i class="fas fa-edit"></i>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
